:root{
    --gradientColor:#8B5CF6;
    --primaryColor:#3B82F6;
    --dashboaedColor:#F6F6F6;
    --navtext:#70809A;
    --navborderColor:#E9E9E9;
    --tableColor:#FFF;
    --maintextColor:#6F809A;
    --textColor:#0F172A;
}
body{
    background-color: var(--dashboaedColor);
}